* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-main {
    display: grid;
    place-items: center;
    place-content: center;
    width: 100%;
    height: 100%;
    background-color: #252323;
}

.panel-score, .container-snake, .credits, .score, .world {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-score {
    justify-content: space-around;
    background-color: #1B98E0;
    width: 100%;
    height: 3rem;
}

.credits, .score, .world {
    color: #fff;
    justify-content: space-between;
    width: 5rem;
}

.container-snake {
    width: 608px;
    height: 80vh;
    background-color: #13293D;
}

.head-snake, .food, .body-snake-plus {
    width: .5rem;
    height: .5rem;
    position: absolute;
    background-color: #999;
}

.head-snake {
    /* margin-right: 584px; */
    opacity: 0;
    animation: head-animation .5s infinite;
}

.body-snake-plus {
    display: none;
    background-color: rgb(50, 33, 66);
    border: .2px solid white;
}

.food {
    margin-right: 30%;
    background-color: yellow;
}

@keyframes head-animation {
    to {
        opacity: 1;
    }    
}